
.actionBtn{
  padding: 10px 13px;  
  background-color: transparent;
  border: 3px solid var(--action-btn-color);
  font-weight: 700;
  transition: .1s ease-in-out;
  box-sizing: border-box !important;
  width: fit-content;
}

.actionBtn:hover{
    background-color: black;
    color: white;
}

