.carousel {
  height: fit-content;
  position: relative;
}

.carouselVp {
  width: 100%;
  overflow: hidden;
}

.cardsWrap {
  display: flex;
  gap: 19px;
  width: fit-content;
  transition: 0.1s ease-out;
}

.carouselCard {
  width: calc((1200px - (19px * 6)) / 5);
  flex-grow: 1;
  /* height: fit-content; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  cursor: pointer;
  outline: 2px solid rgba(0, 0, 0, 0.071);
  outline-offset: -2px;
  transition: outline 0.2s ease-out;
}

.carouselCard:hover {
  outline: 2px solid rgb(38, 38, 38);
  /* outline-offset: -2px; */
}

.cardImg {
  width: 100%;
}

.cardPrice {
  font-weight: 700;
  padding-bottom: 19px;
}
.cardPrice,
.cardTitle {
  padding-left: 19px;
}

.navRight,
.navLeft {
  position: absolute;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 995;
  width: 40px;
  top: -58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(55, 55, 55);
  cursor: pointer;
}

.navRight {
  right: 0px;
}

.navLeft {
  right: 43px;
}

.navRight > span,
.navLeft > span {
  color: #fff;
  /* padding: 10px; */
  font-weight: 900;
  font-size: 22px;
}

.navRight:hover,
.navLeft:hover {
  background-color: rgb(0, 0, 0);
}
