.banner {
    background-color: #bad9ea;
    display: flex;
    /* border-bottom: 3px solid black; */
}
.left, .right {
    width: 30%;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.bannerContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 100px;
    align-items: center;
    padding: 60px 30px;
}


.bannerImgContainer{
    max-width: 400px;
    justify-self: flex-end;
    /* border: 3px solid black; */
}

.bannerImg{
    width: 100%;
}

.categoy {
    color: grey;
    margin-bottom: -20px;
    font-size: 15px;
}

.bannerHeading{
    margin: 0px;
    line-height: 35px;
    font-weight: 900;
    font-size: 40px;
}