html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e6e6e6;
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 19px;
}

.navbar-container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-weight: 700;
  font-size: 19px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 36px;
  font-size: 16px;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

.cart-container {
  position: relative;
  display: flex;
  gap: 5px;
}

.cart-products {
  background-color: rgb(67, 67, 67);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 5px;
}

.burger-menu {
  cursor: pointer;
  display: none;
}

.menu-container {
  display: none;
  flex-direction: column;
  padding: 19px;
  gap: 19px;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: #f3f3f3;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  gap: 20px;
  font-weight: 600;
  font-size: 28px;
}

.close-menu {
  align-self: flex-end;
  justify-self: flex-start;
  cursor: pointer;
  margin-top: 26px;
}
@media only screen and (max-width: 600px) {
  .burger-menu {
    display: block;
  }
}
/* ====================== HOME HEADER ====================== */

.home-header-container {
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "one two four"
    "one two four-low";
  gap: 13px;
}

.featured {
  overflow: hidden;
  position: relative;
}
.header-one {
  background-color: #c6cfcf;
  grid-area: one;
}
.header-two {
  background-color: #c0d6c3;
  grid-area: two;
}
.header-four {
  background-color: #939393;
  grid-area: four;
}

.header-four-low {
  background-color: #c97878;
  grid-area: four-low;
}

.header-img-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.327);
  z-index: 988;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.featured-title {
  position: absolute;
  z-index: 900;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 35px;
  font-weight: 700;
}

.header-img-container:hover {
  background-color: rgba(0, 0, 0, 0.521);
}

.header-img {
  z-index: 5;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media only screen and (max-width: 870px) {
  .featured-title {
    font-size: 25px;
  }
}
.home-header-mobile {
  display: flex;
}
@media only screen and (max-width: 672px) {
}

/* =================== PRODUCTS SECTION ================ */
.products {
  margin-top: 100px;
  margin-bottom: 100px;
}

.products-section-container {
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 740px) {
  .products-section-container {
    justify-content: center;
  }
}

.section-title {
  margin-bottom: 35px;
}

.category-card {
  margin-bottom: 30px;
  height: 220px;
  max-width: 217px;
  min-width: 217px;
  width: auto;
  background-color: rgb(255, 255, 255);
  flex-shrink: 0;
  flex-grow: 1;
  /* flex: 1; */
  cursor: pointer;
  position: relative;
}

.see-more {
  background-color: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
}
.see-more-arrow {
  height: fit-content;
  display: flex;
  align-items: center;
  margin-top: 4px;
  transition: 0.1s ease-in-out;
  width: 19px;
}

.see-more:hover {
  background-color: rgb(208, 208, 208);
}

.see-more:hover .see-more-arrow {
  transform: translateX(7px);
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.product-img-top {
  z-index: 10;
}

.product-img-bottom {
  z-index: 11;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.category-card:hover .product-img-bottom {
  opacity: 1;
}

.cart-title {
  position: absolute;
  bottom: -40px;
  font-weight: 400;
  z-index: 988;
}

.category-card:hover .cart-title {
  text-decoration: underline;
}

/* ============== featured banner =========== */
#banner {
  margin: 100px 0px;
}
.featured-banner-container {
  display: flex;
}

.featured-left,
.featured-right {
  width: 50%;
  max-height: 400px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
}

.featured-left {
  background-color: #e9e9e9;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  font-size: 30px;
}

/* =========== TRENDING SECTION ============== */

.trending {
  margin: 100px 0px;
}

/* =============== FOOTER =============== */

.newsletter {
  background-color: #191919;
}

.newsletter > .container {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.newsletter > .container h2 {
  color: #fff;
  font-size: 33px;
}

.newsletter-form-container > input {
  padding: 8px;
  font-size: 17px;
  width: 400px;
  outline: none;
  border: none;
}

.newsletter-form-container > input:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.nl-submit {
  padding: 8px;
  font-size: 17px;
  outline: none;
  border: none;
  margin-left: 7px;
  cursor: pointer;
}

.footer-menu {
  background-color: #000;
  color: #fff;
}

.footer-menu > .container {
}
.footer-menu-items {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

/* ============= DETAILED STYLING ========== */
@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

/* ============ PRODUCT PAGE SECTION ================= */

.product-details-container {
  display: flex;
  flex-direction: row;
}

.product-left,
.product-right {
  width: 50%;
}
/* == left side == */
.product-visualls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img-container {
  width: 80%;
}

.main-img {
  width: 100%;
}

.all-imgs-container {
  display: flex;
  width: 60%;
  gap: 10px;
}

.img-container {
  flex: 1;
  flex-shrink: 1;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.img-container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  outline: 1px solid rgb(189, 189, 189);
}

.img-container:focus {
  outline: 2px solid black;
  outline-offset: 2px;
}

.an-img {
  width: 100%;
  object-fit: cover;
}

/* == right side == */

.product-right {
  background-color: #f1f1f1;
  position: relative;
  padding-top: 5%;
}
.devider {
  position: absolute;
  bottom: 0px;
  width: 3px;
  height: 70%;
  background-color: rgb(10, 10, 10);
}

.product-right-details {
  padding: 10%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  gap: 40px;
  margin-top: 15%;
}

.item-ids {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
  height: fit-content;
}

.item-title {
  font-weight: 700;
  font-size: 33px;
  transform: translateX(-50%);
}

.item-code {
  color: rgb(175, 175, 175);
}

.item-price {
  font-weight: 600;
  font-size: 22px;
}

.quantity {
  display: flex;
  width: fit-content;
  /* border: 1px solid black; */
  height: fit-content;
}

.qnt-changer {
  background-color: #fff;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.qnt-changer:hover {
  background-color: rgb(218, 218, 218);
}

.add-to-cart-btn {
  background-color: rgb(55, 55, 55);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
}

.product-specs {
  margin-top: 100px;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-rows: auto;
  gap: 30px;
}

.spec {
  /* background-color: rgb(242, 242, 242); */
}
.spec-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 17px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* ============== CART SLIDER ============= */

.opac-bg {
  animation-name: cart-bg;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.328);
  display: none !important;
}

@keyframes cart-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-cart-container {
  animation: slide-cart-container 0.3s ease-out;
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 500px;
  min-width: 450px;
  height: calc(120px + 100vh);
  background-color: #fff;
  padding: 20px;
  display: none;
}

@keyframes slide-cart-container {
  from {
    right: -500px;
  }
  to {
    right: 0px;
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cart-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-item {
  background-color: rgb(233, 233, 233);
  display: flex;
  /* justify-content: space-between; */
  /* gap: 13px; */
  height: 130px;
  width: 100%;
}

.cart-item-left {
  width: 130px;
  /* aspect-ratio: 1/1; */
}

.cart-item-img {
  object-fit: cover;
  width: 100%;
}

.cart-item-right {
  width: fit-content;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  background-color: #000000;
  cursor: pointer;
}

.cart-item-mid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;
  padding: 9px 0px;
}

.cart-item-title {
  margin: 0;
}

.gnt-changer-container {
  display: flex;
}

.cart-qnt-changer {
  background-color: #000;
  color: white;
  height: fit-content;
  width: fit-content;
  padding: 3px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-qnt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #000;
  width: 25px;
}

/* ============= CATEGORIE PAGE ========== */

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.category-header-left,
.category-header-right {
  color: #303030;
}

select#select-category {
  padding: 10px;
  background-color: rgb(244, 244, 244);
  font-size: 15px;
  font-weight: 500;
  color: rgb(47, 47, 47);
  border: none;
  /* width: 250px; */
}

select#select-category:focus {
  outline: 2px solid rgb(214, 214, 214);
}

.category-header-center {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.categories-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  /* min-width: 200px; */
  margin-bottom: 30px;
  font-weight: 500;
  color: #303030;
}

.categories-filter > span:first-child {
  color: #939393;
}

select.filter-select {
  font-weight: 500;
  color: #303030;
  font-size: 16px;
  border: none;
  width: fit-content;
  padding: 5px;
}

select.filter-select:focus {
  border: none;
  outline: none;
  background-color: rgb(247, 247, 247);
}

select.filter-select:hover {
  background-color: rgb(247, 247, 247);
}

.category-products {
  display: flex;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
}
.category-product {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wide {
  grid-column-end: span 2;
  grid-row-end: span;
}

.category-product-header {
  display: flex;
  /* flex-grow: 1; */
  width: 100%;
}
/* .wide-right-container, */
.normal-img {
  width: 100%;
}

.wide-img {
  width: 50%;
}

.wide-right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 19px;
  margin-left: 19px;
}
.wide-title {
  font-size: 28px;
}

.category-product-img {
  width: 100%;
}

.category-product-title {
  color: #191919;
  font-size: 17px;
  font-weight: 500;
}

.category-product-price {
  font-weight: 700;
  font-size: 18px;
}
